/* Voice animation */
.voice-animation {
    font-size: 50px;
    color: #4caf50; /* Green color for voice animation */
    animation: pulse 1.5s infinite;
    text-align: center;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Room Container Styling */
  .room-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Stream container */
  h1 {
    margin-top: 20px;
    font-size: 24px;
  }
  
  h4 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  ReactPlayer {
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
  }
  
